*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('fonts/CooperHewitt-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CooperHewitt-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/CooperHewitt-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('fonts/CooperHewitt-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CooperHewitt-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/CooperHewitt-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

body {
	font-family: Helvetica neue, Helvetica, sans-serif;
	font-size: 19px;
	color: white;
	line-height: 1.4;
	margin: 0;
	font-weight: 500;
	background: black;
}

.section-header {
	margin: 20px 20px 20px 20px;
}

.section-header p {
	font-size: 42px;
	text-align: center;
	font-weight: 400;
}

.heading-xlarge {
	font-size: 72px;
	margin: auto;
	text-align: center;
	font-weight: 400;
}




